.learn-page {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  color: #2c3e50;
  background: linear-gradient(135deg, #1e1e2f, #2c3e50);
  background-image: url("../assets/images/chess-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* Main Content */
.main-content {
  margin-left: 70px;
  padding: 20px;
}

.content-section {
  max-width: 800px;
  margin: 20px auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.piece-section {
  margin-bottom: 30px;
}

.piece-section img {
  max-width: 300px;
  display: block;
  margin: 10px auto;
}

.pawn-images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pawn-images img {
  max-width: 150px;
}

.play-button {
  background-color: #1d6d03;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin-top: 20px;
  text-decoration: none;
}