.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #32ef4bdf;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 3);
  border-radius: 0 10px 10px 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
  z-index: 1000;
}

.sidebar:hover,
.sidebar.active {
  width: 240px;
}

.logo {
  font-size: 0px;
  font-weight: bold;
  margin-bottom: 20px;
  white-space: nowrap;
  transition: font-size 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.sidebar:hover .logo,
.sidebar.active .logo {
  font-size: 36px;
  opacity: 1;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-links li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 24px;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}

.nav-links li:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.nav-links .icon {
  font-size: 28px;
  margin-right: 10px;
}

.nav-links .text {
  opacity: 0;
  visibility: hidden;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.sidebar:hover .nav-links .text,
.sidebar.active .nav-links .text {
  opacity: 1;
  visibility: visible;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
